header {
  margin: 0;
  background-color: #2f9976;
  height: 4em;
}

header > h1 {
  color: white;
  margin: auto 1em;
  height: 2em;
  padding-top: 10px;
}

#frm-quit {
  float: right;
  position: relative;
  top: -90%;
  margin-right: 20px;
}

#frm-quit button {
  display: none;
  color: white;
  background: none;
  border: none;
}

#frm-quit button:hover{
  opacity: 0.7;
}

body {
  margin: 0;
}

button:hover {
  opacity: 0.7;
}

.connection {
  width: 275px;
  margin: 32px auto;
}

#inputmyname {
  display:none;
  padding: 1em;
  background: #EEE;
  border-radius: 1em;
  box-shadow: 2px 2px 2px;
}

#inputmyname button{
  width: 4em;
  background-color: #2f9976;
  color: white;
  border: none;
  border-radius: 1px;
}

#main {
  display:none;
}

.canvas {
  width: 400px;
  margin: auto;
}

/* #msglist{list-style-type:none; padding-left:1px;}
.msg-me{color:blue}
.name {font-weight:bold} */

#draw-area {
  border: 1px solid #000000;
}

.canvas-buttons {
  display: flex;
  justify-content: space-between;
}

#submit-flip{
  color: white;
  background: blue;
  border: none;
  border-radius: 8px;
}

#clear-button {
  color: white;
  background: red;
  border: none;
  border-radius: 8px;
}

#flip-index {
  display: flex;
  flex-flow: row wrap;
  float: left;
}

#flip-index div {
  margin: 0;
}

#flip-index p {
  overflow-wrap: break-word;
  max-width: 380px;
  text-align:center;
}

.pictures{
  position: relative;
}

#flip-index .picture_frame {
  width: 348px;
  height: 318px;
}

#flip-index .picture {
  border: none;
  position: absolute;
  top: 17.5%;
  left: 21.5%;
  width: 200px;
  height: 200px;
}


/* コピペ */

/*-------------------------
 * STEP2
 *-------------------------*/
/* #inputmyname{
  display:none;
}
#txt-myname{
  width: 300px;
  font-size: 14pt;
  padding: 4px;
}
#frm-myname button{
  width: 80px;
  height: 30px;
  font-size: 12pt;
}

/*-------------------------
 * STEP3
 *-------------------------*/
#chat{
  display:none;
}
#chat-main{
  display:flex;
}
#msglist{
  width: 500px;
  height: 300px;
  overflow-y: scroll;
  list-style-type:none;
  border: 1px solid gray;
  padding: 5px;
}
#myname{
  font-weight: bold;
}
#msg{
  width: 500px;
  font-size: 14pt;
  padding: 4px;
}
#frm-post button{
  width: 80px;
  height: 30px;
  font-size: 12pt;
}

.msg-me{
  color:blue;
}
.msg-master{
  color: red;
}
.name{
  font-weight:bold;
}

#memberlist{
  width: 150px;
  height: 300px;
  overflow-y: scroll;
  /* list-style-image: url(circle-solid.svg); */
  border: 1px solid gray;
  padding: 5px 5px 5px 30px;  /* 上右下左 */
  margin-left: 10px;
}
.member-me{
  font-weight: bold;
}

button{
  width: 100px;
  height: 30px;
  font-size: 12pt;
}
